@{
    ViewBag.Title = "Productos";
}

<div class="container">
    <div class="panel panel-default" role="document">
        <div class="panel-body">
            @Html.Action("_CatalogoProducto", "Productos")
        </div>
    </div>
</div>